<html>
    <head>
        <title>
            About page
            
        </title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

    </head>
<body style="background-color: aqua;">
    <div class="container">
        <h1>About Page</h1>
        <h2>This page is created by Jainendra </h2>
        <h2>It is a basic password generating page.</h2>
        <a href = {% url 'home' %} class="btn btn-link btn-outline-primary">Home</a>
        <a href = {% url 'about' %} class="btn btn-link btn-outline-primary">About</a>
    </div>
</body>
</html>